<div class="row">
  <div class="col-lg-4">
    <h2>Events</h2>
    {{#if this.events}}
    <table class="table table-striped" id="events-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Discipline</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.events}}
          <tr>
            <td>
              {{link-to name 'event' this}}
            </td>
            <td>{{gender.name}}</td>
            <td>{{discipline.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      No events
    {{/if}}

    {{#link-to 'events.new' classNames="btn btn-default new-button"}}
      New Event
    {{/link-to}}
  </div>
  <div class="col-lg-8">
    {{outlet}}
  </div>
</div>
