<h3 class="text-center">
  {{name}}
</h3>
<!-- <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#" data-toggle="tab">Details</a></li>
  <li><a href="#" data-toggle="tab">Registrations</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div> -->

<h4>Rounds</h4>
{{#if this.rounds}}
  <table class="table table-striped" id="rounds-table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.rounds}}
        <tr>
          <td>
            {{name}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No rounds added yet
{{/if}}

<!-- {{outlet rounds}}

{{outlet registrations}} -->
<!-- {{ partial 'registrations/index'}} -->
<!-- <button type="button" class="btn btn-default edit-button" {{action "edit" this}}>Edit</button>
<button type="button" class="btn btn-danger delete-button" {{action "delete" this}}>Delete</button> -->
