{{fullName}}
<h3>New Climber</h3>

{{#form-for model id="form-climber"}}

  {{input firstName class="foo"}}
  {{input lastName}}
  {{input gender}}

  <button type="submit" class="btn btn-primary save-button" {{action "save" model}}>Save</button>
  {{#if isNew}}
    <button type="button" class="btn btn-default cancel-button" {{action "cancel" model}}>Cancel</button>
  {{else}}
    <button type="button" class="btn btn-default cancel-button" {{action "cancel" model}}>Cancel</button>
    <button type="button" class="btn btn-danger delete-button" {{action "delete" model}}>Delete</button>
  {{/if}}

{{/form-for}}
